.banner-menu{
    @extend %banner;
    display:flex;
    flex-direction: row;
    justify-content : stretch;
    align-items: center;
    h1{
        flex-grow: 3;
        width: 90%;
        padding-right: 45px;
    }
    i{
        padding-left: 20px;
    }    
}
.banner-photo{
    display: flex;
    img{
    object-fit: cover;
    max-width: 100%;
    min-height: 300px;
    }
}



   


