//main banner

%banner{
    background-color: $white;
    color: $black;
    text-align: center;
    min-width: 100%;

   
    h1{
        font-family: 'Shrikhand';
        font-size: $xxl;
        margin: 0px 0px 3px 0px;
        padding: 15px 0px 8px 0px;
    }
}


//Pink-purple button

.button{
    background-image: linear-gradient(to top left, $primary, $secondary);
    border: 0px;
    color: $white;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: $md;
    box-shadow: 1px 2.5px 8px $grey-light ;

}

//restaurant cards

.card-container{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.card{
    background-color: $white;
    box-shadow: 1px 1px 8px $grey-lighter ;
    border-radius: 20px;
    display:flex;
    flex-direction: column;

    .card-photo{
        max-width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        
        
    }
    .card-info{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
}



