@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {

    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    font-family: "Roboto";
    font-weight:300;
   
   }

@import '_variables';
@import '_elements';

body{
    margin: 0px;
}

.banner{
    @extend %banner;
    box-shadow: $standard-shadow;
    
}

.banner-menu{
    @extend %banner;
    display:flex;
    flex-direction: row;
    justify-content : stretch;
    align-items: center;
    h1{
        flex-grow: 3;
        width: 90%;
        padding-right: 45px;
    }
    i{
        padding-left: 20px;
    }    
}
.banner-photo{
    display: flex;
    img{
    object-fit: cover;
    max-width: 100%;
    min-height: 300px;
    }
}

//SEARCH

.search-container{
    background-color: $grey-lighter;
    position: relative;
    z-index: 5;
}

.search-city{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#ville-search{
    border: none;
    background-color: $grey-lighter;
    color: $black;
    text-align: center;
    font-size: $md;
    margin: 12px 0px;
}

.second-background{
    background-color: $grey-background;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    h2{
        margin-left:$lg-margin;
        margin-right: $lg-margin;
        font-weight: 500;
    }
    h3{
        margin-left: $base-margin;
        margin-right: $base-margin;
        font-weight: 200;
    }
    
}

//Fonctionement

.fonction{
    margin-left: 25px;

    h2{
        font-weight: 500;
        font-size: $xl-2;
    }
}

.fonction-button{
    @extend %menu-card;
    max-width: 88%;
    background-color: $grey-background;
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 30px 0px 30px 10px;

    &:hover{
        background-color: $primary-light;
        i {
            color: $primary;
        }
    }

    .number{
        background-color: $primary;
        border-radius: 50%;
        padding: 8px 12px;
        margin-left: -15px;
        color: $white;
        font-size: 14px;
        text-align: center;
    }
    i, p{
        color: $grey;
    }
    p{
        font-weight: 500;
    }
   
}

//// RESTAURANTS CARDS//////
/// 
/// 
.card-container{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: $grey-background;
    padding-bottom: 70px;

    h2{
        align-self: flex-start;
        margin: 45px 0px 0px 20px;
        font-weight: 500;
        font-size: $xl-2;

    }
}



.card{
    box-shadow: $standard-shadow;
    background-color: $white;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;


    &-photo{
        min-width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    
    }
    &-info{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 100%;
        padding: 0px 20px;
        font-size: $lg;
       
        p:nth-child(1){
            font-weight: 500;
            margin: 15px 0px 5px 0px;
        }
        p:nth-child(2){
            margin:0px 0px 15px 0px;
        }
        &-icon{
            font-size:$xl-2;
        }
    }

    &-nouveau{
        box-shadow: $standard-shadow;
        color: $tertiary-dark;
        background-color: $tertiary;
        padding: 6px;
        width: 90px;
        text-align: center;
        font-weight: 400;
        font-size: $md;
        border-radius: 3px;
        position: relative;
        bottom: 120px;
        left: 230px;

    }
    
}

   


