.banner{
    @extend %banner;
    box-shadow: $standard-shadow;
    
}

//SEARCH

.search-container{
    background-color: $grey-lighter;
    position: relative;
    z-index: 5;
}

.search-city{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#ville-search{
    border: none;
    background-color: $grey-lighter;
    color: $black;
    text-align: center;
    font-size: $md;
    margin: 12px 0px;
}

.second-background{
    background-color: $grey-background;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    h2{
        margin-left:$lg-margin;
        margin-right: $lg-margin;
        font-weight: 500;
    }
    h3{
        margin-left: $base-margin;
        margin-right: $base-margin;
        font-weight: 200;
    }
    
}

//Fonctionement

.fonction{
    margin-left: 25px;
    padding-bottom: 40px;

    @include breakpoint($tablet){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 10px;
        gap: 20px;
        
    }
  
    h2{
        font-weight: 500;
        font-size: $xl-2;
        @include breakpoint($tablet){
            min-width: 80%;
            text-align: center;
            
        }
    }

}

.fonction-button{
    @extend %menu-card;
    max-width: 88%;
    background-color: $grey-background;
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 20px 0px 20px 10px;

    &:hover{
        background-color: $primary-light;
        i {
            color: $primary;
        }
    }

    .number{
        background-color: $primary;
        border-radius: 50%;
        padding: 8px 12px;
        margin-left: -15px;
        color: $white;
        font-size: 14px;
        text-align: center;
    }
    i, p{
        color: $grey;
    }
    p{
        font-weight: 500;
    }

    @include breakpoint ($tablet){
        margin: 0px 0px 10px 0px;
        gap: 10px;
        padding-right: 35px;
    }
   
}

//// RESTAURANTS CARDS//////
/// 
/// 
.card-container{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: $grey-background;
    padding-bottom: 70px;
    @include breakpoint ($tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        
    }


    h2{
        align-self: flex-start;
        margin: 45px 0px 0px 20px;
        font-weight: 500;
        font-size: $xl-2;
        @include breakpoint ($tablet) {
            min-width: 90%;
            margin-bottom: 30px;
            margin-left: 40px;
      
        }

    }
}



.card{
    box-shadow: $standard-shadow;
    background-color: $white;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    margin: 0px;
    padding: 0px;
    @include breakpoint ($tablet) {
        min-width: 270px;
        max-width: 45%;

    }


    &-photo{
        width: 100%;
        max-height: 160px;
        display: flex;
    
        img{
            width: 100%;
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
            
        }
    }

    &-info{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 100%;
        padding: 0px 20px;
        font-size: $lg;
       
        p:nth-child(1){
            font-weight: 500;
            margin: 15px 0px 5px 0px;
        }
        p:nth-child(2){
            margin:0px 0px 15px 0px;
        }
        &-icon{
            font-size:$xl-2;
            i:nth-child(2){
                color: linear-gradient($primary, $secondary); //ISSUES////////////////////
            }
        }
    }

    &-nouveau{
        color: $tertiary-dark;
        background-color: $tertiary;
        padding: 6px;
        width: 90px;
        height: 30px;
        text-align: center;
        font-weight: 400;
        font-size: $md;
        border-radius: 3px;
        margin-left: -110px;
        margin-top: 15px;

    }
    
}