.banner-menu{
    @extend %banner;
    display:flex;
    flex-direction: row;
    justify-content : stretch;
    align-items: center;
    h1{
        
        width: 90%;
        padding-right: 45px;
    }
    i{
        padding-left: 20px;
    }
    a{
        color: inherit;
    }    
}
.banner-photo{
    display: flex;
    img{
    object-fit: cover;
    max-width: 100%;
    min-height: 230px;
    margin-bottom: 0px;
    }

    @include breakpoint($tablet){
        max-height: 220px;
        
    }
}

.menu{
    background-color: $grey-background;
    border-radius: 40px 40px 0px 0px;
    margin-top: -50px;
    position: relative;
    z-index: 20;
    
    &-rest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $gap2;
    padding: 5px 40px 5px 15px;
        h2{
        font-family: "shrikhand";
        font-size: $xl-3;
        }
    }
 
    &-epd{
    display: flex;
    flex-direction: column;
    align-items: center;       
 
    }

    &-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gap2;
    width: 92%;
    margin-bottom: 30px;
    

    @include breakpoint($desktop){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
    a{
    @include breakpoint($desktop){
        width: 31%;
    }
    }
    }
        &-title{
        @include breakpoint($desktop){
        min-width: 100%;
        }
    
        }
        
        h2{
        font-size:$md;
        margin-bottom: 20px;
        border-bottom: 3px solid $tertiary;
        padding-bottom: 5px;
        width: 10%;
        
        @include breakpoint($desktop){
            width: 5%;
        }

        }

        &-item{
        @extend %menu-card;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0px 0px 0px 10px;
        width: 100%;
        overflow: hidden;

    
        @include breakpoint($desktop){
            min-width: 100%;
            
        }

       
            &-text{
                max-width: 80%;
                p{
                    margin: 5px 0px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                p:nth-child(1){
                    font-weight: 500;
                    font-size: $lg;
                    margin-top: 12px;
                }
                p:nth-child(2){
                    font-size: $xxm;
                    margin-bottom: 12px;
                }
               
            }

            &-price{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 5px;
                
                p{
                font-weight: 500;
                font-size: $md;
                padding-right: 0px;
                margin-right: -50px;
                transition: 0.3s linear;
                
                }
               
                
           
            }
       
            
           

     
///////////////check animation//////////////////
            &-check{
                display: flex;
                
                justify-content: center;
                align-items: center;
                min-width: 60px;
                height: 70px;
                text-align: center;
                border-radius: 0px 15px 15px 0px;
                background-color: $tertiary;
                transform: translate(60px);
                transition: transform 0.3s linear;
                i{
                    display: inline-block;
                    background-color: $white;
                    color: $tertiary;
                    border-radius: 100%;
                    padding: 3px;
                    transition: 0.3s 0.2s;
                    
                }
           
            }
            &:hover  .menu-cards-item-check{ 
                transform: translatex(0px);       
               
            }
            &:hover .menu-cards-item-check i{
                transform: rotatez(360deg);      
            }

            &:hover .menu-cards-item-text{
                max-width: 65%;
            }

            &:hover .menu-cards-item-price p{
                transform: translateX(-60px)

            }
        }
    }
}


 .button-menu{
    margin: 30px auto 70px auto;
    min-width: 50%;
    
    @include breakpoint ($desktop){
        min-width: 30%;
    }
 }

   


