//colors

$primary:#9356DC;
$primary-light:#f5edff;
$secondary: #FF79DA;
$tertiary: #99E2D0; 
$tertiary-dark: #008766;
$white: white;
$black: black;
$grey: #353535;
$grey-light: #c0c0c0;
$grey-shadow: #cecece;
$grey-lighter: #e8e8e8;
$grey-background:#f6f6f6;


//fonts

$sm: 13px;
$xm: 14px;
$xxm: 15px;
$md: 16px; 
$lg: 18px;
$xl: 22px;
$xl-2: 24px;
$xl-3: 26px;
$xxl: 28px;

//margin

$base-margin: 40px;
$lg-margin: 50px;

//gap

$gap1: 10px;
$gap2: 20px;
$gap3: 30px;

//shaddow

$standard-shadow:  2px 3px 12px 0px $grey-shadow;
$hover-shadow: 2px 3px 12px 0px $grey;

//breakpoints:

$tablet: 600px;
$desktop: 770px;

