@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 300;
}

body {
  margin: 0px;
}

.banner-menu, .banner {
  background-color: white;
  color: black;
  text-align: center;
  min-width: 100%;
  position: relative;
  z-index: 15;
}

.menu-cards-item, .fonction-button {
  box-shadow: 2px 3px 12px 0px #cecece;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  margin: 0px 0px 3px 0px;
  padding: 15px 0px 8px 0px;
}

.button {
  box-shadow: 2px 3px 12px 0px #cecece;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  border: 0px;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
}
.button:hover {
  box-shadow: 2px 3px 12px 0px #c0c0c0;
  background-image: linear-gradient(to top left, #a16be0, #ff93e1);
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 600px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    padding-left: 80px;
  }
}
@media (min-width: 770px) {
  footer {
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 60px;
  }
}
footer h1 {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0px;
}
@media (min-width: 600px) {
  footer h1 {
    min-width: 100%;
    font-size: 22px;
  }
}
footer a {
  color: white;
  text-decoration: none;
}
@media (min-width: 600px) {
  footer a {
    font-size: 18px;
  }
}
@media (min-width: 770px) {
  footer a {
    max-width: 20%;
  }
}
footer-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

@media (min-width: 600px) {
  .footer-item-x {
    min-width: 50%;
  }
}
@media (min-width: 770px) {
  .footer-item-x {
    min-width: 10%;
  }
}

.banner {
  box-shadow: 2px 3px 12px 0px #cecece;
}

.search-container {
  background-color: #e8e8e8;
  position: relative;
  z-index: 5;
}

.search-city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ville-search {
  border: none;
  background-color: #e8e8e8;
  color: black;
  text-align: center;
  font-size: 16px;
  margin: 12px 0px;
}

.second-background {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.second-background h2 {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 500;
}
.second-background h3 {
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 200;
}

.fonction {
  margin-left: 25px;
  padding-bottom: 40px;
}
@media (min-width: 600px) {
  .fonction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px;
    gap: 20px;
  }
}
.fonction h2 {
  font-weight: 500;
  font-size: 24px;
}
@media (min-width: 600px) {
  .fonction h2 {
    min-width: 80%;
    text-align: center;
  }
}

.fonction-button {
  max-width: 88%;
  background-color: #f6f6f6;
  padding: 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin: 20px 0px 20px 10px;
}
.fonction-button:hover {
  background-color: #f5edff;
}
.fonction-button:hover i {
  color: #9356DC;
}
.fonction-button .number {
  background-color: #9356DC;
  border-radius: 50%;
  padding: 8px 12px;
  margin-left: -15px;
  color: white;
  font-size: 14px;
  text-align: center;
}
.fonction-button i, .fonction-button p {
  color: #353535;
}
.fonction-button p {
  font-weight: 500;
}
@media (min-width: 600px) {
  .fonction-button {
    margin: 0px 0px 10px 0px;
    gap: 10px;
    padding-right: 35px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #f6f6f6;
  padding-bottom: 70px;
}
@media (min-width: 600px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
.card-container h2 {
  align-self: flex-start;
  margin: 45px 0px 0px 20px;
  font-weight: 500;
  font-size: 24px;
}
@media (min-width: 600px) {
  .card-container h2 {
    min-width: 90%;
    margin-bottom: 30px;
    margin-left: 40px;
  }
}

.card {
  box-shadow: 2px 3px 12px 0px #cecece;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 600px) {
  .card {
    min-width: 270px;
    max-width: 45%;
  }
}
.card-photo {
  width: 100%;
  max-height: 160px;
  display: flex;
}
.card-photo img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  padding: 0px 20px;
  font-size: 18px;
}
.card-info p:nth-child(1) {
  font-weight: 500;
  margin: 15px 0px 5px 0px;
}
.card-info p:nth-child(2) {
  margin: 0px 0px 15px 0px;
}
.card-info-icon {
  font-size: 26px;
}
.card-info-icon .fa-solid {
  background: linear-gradient(200deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  transform: scale(1);
  transition: transform 1000ms;
}
.card-info-icon i:nth-child(1):hover {
  display: none;
}
.card-info-icon i:nth-child(1):hover + i:nth-child(2) {
  display: inline-block;
  transform: scale(1.1);
}
.card-nouveau {
  color: #008766;
  background-color: #99E2D0;
  padding: 6px;
  width: 90px;
  height: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  border-radius: 3px;
  margin-left: -110px;
  margin-top: 15px;
}

.banner-menu {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}
.banner-menu h1 {
  width: 90%;
  padding-right: 45px;
}
.banner-menu i {
  padding-left: 20px;
}
.banner-menu a {
  color: inherit;
}

.banner-photo {
  display: flex;
}
.banner-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  min-height: 230px;
  margin-bottom: 0px;
}
@media (min-width: 600px) {
  .banner-photo {
    max-height: 200px;
  }
}

.menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -50px;
  position: relative;
  z-index: 20;
}
.menu-rest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 5px 40px 5px 15px;
}
.menu-rest h2 {
  font-family: "shrikhand";
  font-size: 26px;
}
.menu-epd {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 92%;
  margin-bottom: 30px;
}
@media (min-width: 770px) {
  .menu-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
  }
}
@media (min-width: 770px) and (min-width: 770px) {
  .menu-cards a {
    width: 31%;
  }
}
@media (min-width: 770px) {
  .menu-cards-title {
    min-width: 100%;
  }
}
.menu-cards h2 {
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  text-overflow: visible;
  width: 10%;
}
@media (min-width: 770px) {
  .menu-cards h2 {
    width: 5%;
  }
}
.menu-cards-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 0px 0px 10px;
  width: 100%;
}
@media (min-width: 770px) {
  .menu-cards-item {
    min-width: 100%;
  }
}
.menu-cards-item-text {
  max-width: 80%;
}
.menu-cards-item-text p {
  margin: 5px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-cards-item-text p:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
  margin-top: 12px;
}
.menu-cards-item-text p:nth-child(2) {
  font-size: 15px;
  margin-bottom: 12px;
}
.menu-cards-item-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
}
.menu-cards-item-price p {
  font-weight: 500;
  font-size: 16px;
  padding-right: 25px;
}
.menu-cards-item:hover .menu-cards-item-check {
  display: flex;
}
.menu-cards-item:hover .menu-cards-item-text {
  max-width: 50%;
}
.menu-cards-item:hover .menu-cards-item-price p {
  max-width: 30px;
}
.menu-cards-item-check {
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 70px;
  text-align: center;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
}
.menu-cards-item-check i {
  display: inline-block;
  background-color: white;
  color: #99E2D0;
  border-radius: 100%;
  padding: 3px;
}

.button-menu {
  margin: 30px auto 70px auto;
  min-width: 50%;
}
@media (min-width: 770px) {
  .button-menu {
    min-width: 30%;
  }
}/*# sourceMappingURL=style.css.map */